@import '../../styles/common';

.icon {
  display: block;
  height: 16px;
  width: 16px;
  max-height: 100%;
  max-width: 100%;
  margin: auto;

  .svg,
  .img {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  &.small {
    height: 16px;
    width: 16px;
  }
  &.medium {
    height: 20px;
    width: 20px;
  }
  &.large {
    height: 24px;
    width: 24px;
  }
}
